<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yellowsoft.education" >
    <uses-permission android:name="com.yellowsoft.shalay.permission.MAPS_RECEIVE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>

    <application
        android:allowBackup="true"
        android:name=".AppController"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:name="HomeActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:name=".ChooseLevelGradeSemActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:name=".ChooseQuestionaireActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:name="AnswerActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:name=".CreateChooseSubjectActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:name=".SelectSubjectsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:name="AnswerAQuestionActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:name="LoginActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:name="RewardActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:name="SignupActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:name=".CreateQuestionActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:name=".ImageEditActivity"
            android:label="@string/app_name" >
        </activity>

    </application>

</manifest>
